---
const img = "https://placehold.co/1200x300";
---

<section class="bg-white">
  <div class="relative w-full">
    <img
      src={img}
      alt="bunga"
      class="rounded-lg w-full h-auto object-cover"
      width="1200"
      height="300"
    />
    <div
      class="absolute inset-0 flex flex-col items-center justify-center text-white text-center px-4"
    >
      <h2 class="text-2xl md:text-4xl font-bold">Program Pelatihan Kami</h2>
      <p class="mt-2 md:mt-4 text-base md:text-xl max-w-2xl">
        Mewadahi Banyak Jenis Pelatihan untuk Mengembangkan UMKM.
      </p>
    </div>
  </div>
</section>
