---
import { Image } from "astro:assets";
("astro:assets");
const img = "https://placehold.co/1200x300";
---

<section class="bg-white pt-20">
  <div class="relative w-full">
    <Image
      src={img}
      alt="bunga"
      class="rounded-lg w-full h-auto"
      width={1200}
      height={300}
    />
    <div
      class="absolute inset-0 flex flex-col items-start justify-center text-white text-center px-4 ms-20"
    >
      <h2 class="text-3xl md:text-5xl font-bold">Program Pelatihan Kami</h2>
      <p class="mt-4 text-lg md:text-2xl">
        Mewadahi Banyak Jenis Pelatihan untuk Mengembangkan UMKM.
      </p>
    </div>
  </div>
  <div class="container mx-auto px-4"></div>
</section>
