---
import { Image } from "astro:assets";
import logoImg from "../assets/logo.png";

const footerLinks = [
	{ label: "Home", href: "#" },
	{ label: "Bergabung", href: "#" },
	{ label: "Tentang Kami", href: "#" },
];
---

<footer class="bg-gray-900 text-white py-12">
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
			<div>
				<Image
					src={logoImg}
					alt="Company Logo Image"
					class="rounded-lg"
					width={48}
					height={48}
				/>
				<p class="font-serif font-bold pt-2 text-xl">FOKUS</p>
				<p class="text-sm pt-2">Better outcomes with behavioral economics.</p>
			</div>
			<div>
				<h3 class="text-lg font-semibold mb-4">Quick Links</h3>
				<ul class="space-y-2">
					{
						footerLinks.map((link) => (
							<li>
								<a href={link.href} class="text-sm hover:text-primary-300">
									{link.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div>
				<h3 class="text-lg font-semibold mb-4">Stay Connected</h3>
				<p class="text-sm mb-4">Subscribe to our newsletter for updates</p>
				<form class="flex">
					<input
						type="email"
						placeholder="Your email"
						class="flex-grow rounded-l-md px-4 py-2 text-gray-900 focus:outline-none focus:ring-2 focus:ring-primary-500"
					/>
					<button
						type="submit"
						class="bg-primary-500 text-white px-4 py-2 rounded-r-md hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
					>
						Subscribe
					</button>
				</form>
			</div>
		</div>
		<div
			class="border-t border-gray-700 pt-8 flex flex-col md:flex-row justify-between items-center"
		>
			<p class="text-sm mb-4 md:mb-0">
				&copy; 2024 Yayasan FOKUS. All rights reserved.
			</p>
			<div class="flex space-x-4">
				<a
					href="https://www.instagram.com/yayasan.fokus"
					target="_blank"
					rel="noopener noreferrer"
					class="text-gray-400 hover:text-white"
				>
					<span class="sr-only">LinkedIn</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-instagram"
						><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
							d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
							x1="17.5"
							x2="17.51"
							y1="6.5"
							y2="6.5"></line></svg
					>
				</a>
			</div>
		</div>
	</div>
</footer>
