---
import { Image } from "astro:assets";

const programs = [
  {
    name: "Fradel & Sons",
    title: "Pelatihan Sablon",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere.",
    logo: "https://placehold.co/200",
  },
  {
    name: "Wildwood Conservation",
    title: "Pelatihan Pendataan",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pasuere.",
    logo: "https://placehold.co/200",
  },
  {
    name: "Fradel & Sons",
    title: "Pelatihan Digitalisasi",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere.",
    logo: "https://placehold.co/200",
  },
  {
    name: "Fradel & Sons",
    title: "Manajemen Keuangan",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere.",
    logo: "https://placehold.co/200",
  },
  {
    name: "Fradel & Sons",
    title: "Manajemen Bisnis",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere.",
    logo: "https://placehold.co/200",
  },
  {
    name: "Fradel & Sons",
    title: "Kreatifitas",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere.",
    logo: "https://placehold.co/200",
  },
];
---

<section class="bg-white py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center text-red-800 mb-12">
      Pelatihan Kami
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-8">
      {
        programs.map((program) => (
          <div class="flex flex-col items-center mb-6 justify-center ">
            <Image
              src={program.logo}
              alt={program.title}
              class="rounded-lg"
              width={128}
              height={128}
            />
            <p class="text-3xl text-red-800 font-bold sm:text-center md:text-center">
              {program.title}
            </p>
            <p class="text-lg text-black text-justify px-14">{program.desc}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
